/* IMUDataPanel.css */
.imu-panel{
  background:#1e1e1e;
  color:#fff;
  padding:15px;
  border-radius:6px;
  font-family:Segoe UI, sans-serif;
}
.imu-panel h4{ color:#99ffcc; margin-bottom:10px; }
.imu-label{ color:#ccc; display:inline-block; width:110px; }
