.uptime-panel{
  background:#1e1e1e;
  border-radius:5px;
  margin-left: 1%;
  margin-right: 1%;
  padding:20px;            /* inner breathing-room */
  height:270px;            /* keeps the panel height you want */
  
}